<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.19.0" targetFramework="net451" />
  <package id="FluentAutomation.Core" version="3.0.0.0" targetFramework="net451" />
  <package id="FluentAutomation.SeleniumWebDriver" version="3.0.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net451" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.28.0" targetFramework="net451" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net451" />
</packages>